/* div{
    height: 100px;
    width: 700px;
    position: fixed;
    background-color: blue;
    top: 100px;
    left: 500px;  


    position :fixed
} */

div{
    height: 100px;
    width: 700px;
    position: sticky;
    background-color: blue;
    top: 100px;
    
}
