div{
    height: 100px;
    width: 100px;
}
#a1{
    background-color: blue;
    margin-left: 288px;
    margin-top: 2px;
}
#a2{
    background-color: brown;
    margin-left: 130px;
    margin-top: -90px;
}
h1{
    alignc
}